{% extends 'reiseberichte/base.html' %}
{% load staticfiles %}
{% block includes %}
    <script src="{% static 'reiseberichte/' %}js/strip.pkgd.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'reiseberichte/' %}css/strip.css">
{% comment %}
  Includes for leaflet map
{% endcomment %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>

<style>
    #mapid { height: 380px; }
</style>
{% endblock %}

{% block body %}
	<!-- start: Portfolio -->
    <div id="portfolio-wrapper" xmlns="http://www.w3.org/1999/html">

        {% if messages %}
            <div class="sixteen columns">
                {% for message in messages %}
                    <div class="notification {% if message.tags %}{{ message.tags }}{% endif %} closeable">
                        <p><span>Success!</span> {{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="column portfolio-item">
            <div class="picture"><img src="{{ termin.reisename.reiseheader.url }}" alt=""/>
                <div class="item-description alt">
                    <h2><a href="{{ termin.reisename.link }}">{{ termin.reisename }} - {{ termin.reisebeginn }} bis {{ termin.reiseende }}</a></h2>
                    <p>
                    {% if tage %} {{ termin.reisename.beschreibung }}
                    {% else %}
                        Diese Reisegruppe ist gerade auf dem Weg nach China. Die ersten Reisebilder folgen in Kürze.
                    {% endif %}

                    </p>
                </div>
                <div class="post-meta"><span><i class="mini-ico-arrow-right"></i><a target="_blank" href="{{ termin.reisename.link }}">Mehr Informationen zu dieser Reise</a></span></div>
            </div>
        </div>

        {% if tage %}
            {% for tage in tage %}
                <div class="one-third column portfolio-item">
                    <div class="picture"><a href="{{ tage.foto.url }}" class="strip" rel="image" data-strip-group="mygroup" data-strip-title="{{ termin.reisename }} - Tag {{ tage.reisetag }}" data-strip-caption="{{ tage.beschreibung }}"><img src="{{ tage.foto.url }}" alt=""/></a>
                        <div class="item-description alt">
                            <h3><a href="{{ tage.foto.url }}" class="swipebox">Tag {{ tage.reisetag }} - {{ termin.reisename }}</a></h3>
                            <p>{{ termin }}
                               {{ tage.beschreibung }}

                            </p>
                        </div>
                        <div class="post-meta"><span><i class="mini-ico-calendar"></i>{{ tage.created|date:"d.m.Y, G:i" }}</span> <span><i class="mini-ico-user"></i> {{ termin.reiseleiter }}</span></div>
                    </div>

                </div>
            {% endfor %}
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'day_add' reise_slug=termin.reisename.slug termin_slug=termin.slug %}"> <div class="one-third column portfolio-item">
                <div class="quotes">
                    <div class="author" style="padding-bottom:100px; padding-top: 100px">
                        <span style="font-size: 3em;">  + Tag hinzufügen</span>
                    </div>
                </div>
            </div>
            </a>
        {% endif %}
</div>
     <div id="mapid"></div>

                                <button type="button" id="myBtn">Default</button>
 Script fuer Karte, Benutzen der GPS Angaben aus dem Exif muss noch eingebaut werden
<script>
document.getElementById("myBtn").addEventListener("click", myFunction);
function myFunction() {
    var polylinePoints = [
    {% for tag in tage %}new L.LatLng{% if not forloop.last %}{{ tag.koordinaten }},{% else %}{{ tag.koordinaten }}{% endif %}
    {% endfor %}];
    var mymap = L.map('mapid').setView([53.101303083333335, 8.8326435], 13);
    if (polylinePoints.length < 2) {
        mymap.panTo(polylinePoints[0]);
    }
    else {
        mymap.fitBounds([polylinePoints], {padding: [50, 50]});
    }


    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'yunusabd.10e370gg',
        accessToken: 'pk.eyJ1IjoieXVudXNhYmQiLCJhIjoiY2lyYWR6dHBtMDA0b2llbm5venV6MGVtYyJ9.CRKwiTq3-z1p6TMqOs1Frg'
    }).addTo(mymap);

    var polylineOptions = {
        color: 'blue',
        weight: 3,
        opacity: 0.8,
        dashArray: '5,15',
        lineCap: 'square',
        smoothFactor: 2,
        clickable: 'false'
    };

    var polyline = new L.Polyline(polylinePoints, polylineOptions).addTo(mymap);
{#    mymap.setView(polyline.getBounds());#}
    var {% for tag in tage %}
    {% if not forloop.last %}marker{{ tag.id }} = L.marker({{ tag.koordinateneckig }}).bindPopup("<a href='{{ tage.foto.url }}' class='swipebox'><img src='{{ tag.foto.url }}' style='width: 100px'/></a> {{ tag.beschreibung }}"),{% else %}marker{{ tag.id }} = L.marker({{ tag.koordinateneckig }}).bindPopup("<a href='{{ tage.foto.url }}' class='swipebox'><img src='{{ tag.foto.url }}' style='width: 100px'/></a> {{ tag.beschreibung }}");{% endif %}{% endfor %}
    var cities = L.layerGroup([{% for tag in tage %}{% if not forloop.last %}marker{{ tag.id }},{% else %}marker{{ tag.id }}{% endif %}{% endfor %}]).addTo(mymap);
}

</script>
	<!-- end: Portfolio -->


{% endblock %}