{% extends 'reiseberichte/base.html' %}
{% load staticfiles %}

{% block body %}
	<!-- start: Portfolio -->
	<div id="portfolio-wrapper">
    {% if tage %}
        {% for tage in tage %}
            <div class="one-third column portfolio-item">
                <div class="picture"><a href="{{ tage.foto.url }}" title="Title"><img src="{{ tage.foto.url }}" alt=""/><div class="image-overlay-link"></div></a>
                    <div class="item-description alt">
                        <h5><a href="{{ tage.foto.url }}">{{ termin.reisename }} - {{ termin.reisebeginn }} bis {{ termin.get_reiseende }}</a></h5>
                        <p>{{ termin }}
                           {{ tage.beschreibung }}
                        </p>
                    </div>
                    <div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
                </div>
            </div>
        {% endfor %}
    {% else %}
            <div class="column portfolio-item">
                <div class="picture"><a href="{{ termin.reisename.link }}" title="Title"><img src="{{ termin.reisename.reiseheader.url }}" alt=""/><div class="image-overlay-link"></div></a>
                    <div class="item-description alt">
                        <h5><a href="{{ termin.reisename.link }}">{{ termin.reisename }} - {{ termin.reisebeginn }} bis {{ termin.get_reiseende }}</a></h5>
                        <p>{{ termin }}
                            Diese Reisegruppe ist gerade auf dem Weg nach China. Die ersten Reisebilder folgen in Kürze.
                        </p>
                    </div>
                    <div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
                </div>
            </div>
    {% endif %}
		<div class="one-third column portfolio-item">
			<div class="quotes">
				<div class="quote">
                    <form id="favorite">
                        <input class="" type="checkbox" id="favorite">

                    </form>

                </div>
				<div class="author">
					- Steve Jobs -
				</div>
			</div>
		</div>

		<div class="one-third column portfolio-item">
			<div class="picture"><a href="project.html" title="Title"><img src="{% static 'reiseberichte/' %}images/photo1.jpg" alt=""/><div class="image-overlay-link"></div></a>
				<div class="item-description alt">
					<h5><a href="project.html">Project no. 1</a></h5>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					</p>
				</div>
				<div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
			</div>
		</div>

		<div class="one-third column portfolio-item">
			<div class="picture"><a href="{% static 'reiseberichte/' %}images/photo9.jpg" rel="image" title="Title"><img src="{% static 'reiseberichte/' %}images/photo9.jpg" alt=""/><div class="image-overlay-zoom"></div></a>
				<div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
			</div>
		</div>

		<div class="one-third column portfolio-item">
			<div class="picture"><a href="{% static 'reiseberichte/' %}images/photo2.jpg"title="Title"><img src="{% static 'reiseberichte/' %}images/photo2.jpg" alt=""/><div class="image-overlay-zoom"></div></a>
			<div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
			</div>
		</div>

		<div class="one-third column portfolio-item">
			<div class="picture"><a href="project.html" title="Title">
				<img src="{% static 'reiseberichte/' %}images/photo3.jpg" alt=""/>
				<div class="image-overlay-link"></div></a>
					<div class="item-description alt">
						<h5><a href="project.html">Project no. 3</a></h5>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					</p>
				</div>
				<div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
			</div>
		</div>

		<div class="one-third column portfolio-item">
			<div class="picture"><a href="{% static 'reiseberichte/' %}images/photo4.jpg" rel="image" title="Title"><img src="{% static 'reiseberichte/' %}images/photo4.jpg" alt=""/><div class="image-overlay-zoom"></div></a>
			<div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
			</div>
		</div>

		<div class="one-third column portfolio-item">
			<div class="video embed">
				<iframe src="http://player.vimeo.com/video/3538565?portrait=0&color=ffffff" width="480" height="256" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			</div>
		</div>

		<div class="one-third column portfolio-item">
			<div class="picture"><a href="project.html" title="Title"><img src="{% static 'reiseberichte/' %}images/photo6.jpg" alt=""/><div class="image-overlay-link"></div></a>
				<div class="item-description alt">
					<h5><a href="project.html">Project no. 6</a></h5>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
					</p>
				</div>
				<div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
			</div>
		</div>

		<div class="one-third column portfolio-item">
			<div class="picture"><a href="{% static 'reiseberichte/' %}images/photo7.jpg" rel="image" title="Title"><img src="{% static 'reiseberichte/' %}images/photo7.jpg" alt=""/><div class="image-overlay-zoom"></div></a>
				<div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
			</div>
		</div>

		<div class="one-third column portfolio-item">
			<div class="picture"><a href="project.html" title="Title"><img src="{% static 'reiseberichte/' %}images/photo8.jpg" alt=""/><div class="image-overlay-link"></div></a>
				<div class="item-description alt">
					<h5><a href="project.html">Project no. 8</a></h5>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
					</p>
				</div>
				<div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
			</div>
		</div>

		<div class="one-third column portfolio-item scenery">
			<div class="quotes">
				<div class="quote">
					“Innovation distinguishes between a leader and a follower.”
				</div>
				<div class="author">
					- Steve Jobs -
				</div>
			</div>
		</div>

		<div class="one-third column portfolio-item">
			<div class="quotes">
				<div class="quote">
				“Visual design is often the polar opposite of engineering: trading hard edges for subjective decisions based on gut feelings and personal experiences. It’s messy, unpredictable, and notoriously hard to measure. The apparently erratic behavior of artists drives engineers bananas. Their decisions seem arbitrary and risk everything with no guaranteed benefit.”
				</div>
				<div class="author">
					- Scott Stevenson -
				</div>
			</div>
		</div>

		<div class="one-third column portfolio-item">
			<div class="picture"><a href="project.html" title="Title"><img src="{% static 'reiseberichte/' %}images/photo10.jpg" alt=""/><div class="image-overlay-link"></div></a>
				<div class="item-description alt">
					<h5><a href="project.html">Project no. 10</a></h5>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
					</p>
				</div>
				<div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
			</div>
		</div>

		<div class="one-third column portfolio-item">
			<div class="picture"><a href="project.html" title="Title"><img src="{% static 'reiseberichte/' %}images/photo11.jpg" alt=""/><div class="image-overlay-link"></div></a>
				<div class="item-description alt">
					<h5><a href="project.html">Project no. 11</a></h5>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
					</p>
				</div>
				<div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
			</div>
		</div>

		<div class="one-third column portfolio-item">
			<div class="picture"><a href="{% static 'reiseberichte/' %}images/photo12.jpg" rel="image" title="Title"><img src="{% static 'reiseberichte/' %}images/photo12.jpg" alt=""/><div class="image-overlay-zoom"></div></a>
				<div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
			</div>
		</div>

	</div>
	<!-- end: Portfolio -->
{% endblock %}