{% extends 'reiseberichte/base.html' %}
{% load staticfiles %}

{% block body %}
	<!-- start: Portfolio -->
    <div id="portfolio-wrapper" xmlns="http://www.w3.org/1999/html">
        {% if messages %}
            <div class="sixteen columns">
                {% for message in messages %}
                    <div class="notification {% if message.tags %}{{ message.tags }}{% endif %} closeable">
                        <p><span>Success!</span> {{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="column portfolio-item">
            <div class="picture"><img src="{{ termin.reisename.reiseheader.url }}" alt=""/>
                <div class="item-description alt">
                    <h2><a href="{{ termin.reisename.link }}">{{ termin.reisename }} - {{ termin.reisebeginn }} bis {{ termin.reiseende }}</a></h2>
                    <p>
                    {% if tage %} {{ termin.reisename.beschreibung }}
                    {% else %}
                        Diese Reisegruppe ist gerade auf dem Weg nach China. Die ersten Reisebilder folgen in Kürze.
                    {% endif %}

                    </p>
                </div>
                <div class="post-meta"><span><i class="mini-ico-arrow-right"></i><a target="_blank" href="{{ termin.reisename.link }}">Mehr Informationen zu dieser Reise</a></span></div>
            </div>
        </div>

        {% if tage %}
            {% for tage in tage %}
                <div class="one-third column portfolio-item">
                    <div class="picture"><a href="{{ tage.foto.url }}" class="swipebox" rel="image" title="Tag {{ tage.reisetag }} - {{ termin.reisename }} - {{ tage.beschreibung }}"><img src="{{ tage.foto.url }}" alt=""/><div class="image-overlay-zoom"></div></a>
                        <div class="item-description alt">
                            <h3><a href="{{ tage.foto.url }}" class="swipebox">Tag {{ tage.reisetag }} - {{ termin.reisename }}</a></h3>
                            <p>{{ termin }}
                               {{ tage.beschreibung }}
                            </p>
                        </div>
                        <div class="post-meta"><span><i class="mini-ico-calendar"></i>{{ tage.created|date:"d.m.Y, G:i" }}</span> <span><i class="mini-ico-user"></i> {{ termin.reiseleiter }}</span></div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'day_add' reise_slug=termin.reisename.slug termin_slug=termin.slug %}"> <div class="one-third column portfolio-item">
                <div class="quotes">
                    <div class="author" style="padding-bottom:100px; padding-top: 100px">
                        <span style="font-size: 3em;">  + Tag hinzufügen</span>
                    </div>
                </div>
            </div>
            </a>
        {% endif %}
	</div>
	<!-- end: Portfolio -->

<script type="text/javascript">
( function( $ ) {

	$( '.swipebox' ).swipebox();

} )( jQuery );
</script>
{% endblock %}