{% extends 'reiseberichte/base.html' %}
{% load staticfiles %}

{% block body %}
	<!-- start: Portfolio -->
	<div id="portfolio-wrapper">
        <div class="one-third column portfolio-item">
			<div class="reiseliste">
						<h1>Aktuelle Reisen</h1>
                        Hier kommen die aktuellen Reisen rein
                {{ unterwegs }}
			</div>
		</div>
        {% for termin in termin %}
            <div class="one-third column portfolio-item">
                <div class="picture"><a href="{% url 'terminseite' reise_slug=termin.reisename.slug termin_slug=termin.slug %}" title="Title"><img src="{% if termin.get_latest_foto.foto %}{{ termin.get_latest_foto.foto.url }}{% else %}{{ termin.reisename.reiseheader.url }}{% endif %}" alt=""/><div class="image-overlay-link"></div></a>
                    <div class="item-description alt">
                        <h5><a href="{% url 'terminseite' reise_slug=termin.reisename.slug termin_slug=termin.slug %}">{{ termin.reisename }} - {{ termin.reisebeginn }} bis {{ termin.reiseende }}</a></h5>
                        <p>{{ termin }}
                            {% if termin.get_latest_foto.foto %}
                            {{ termin.get_latest_foto.beschreibung }}
                            {% else %}
                            Diese Reisegruppe ist gerade auf dem Weg nach China.
                        {% endif %}
                        </p>
                    </div>
                    <div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
                </div>
            </div>
        {% endfor %}



	</div>
	<!-- end: Portfolio -->
{% endblock %}